<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Register your Phonenumber</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <h1>Register your Phonenumber </h1>
      <ul>
        <li><a href="/#">Register New User</a></li>
        <li><a href="/users">All Users</a></li>
      </ul>
    </nav>

    <section class="content">
      <h1>Register</h1>
      <form method="post">
        <label for="phone">Phonenumber</label>
        <input type="phone" name="phone" id="phone" required />
        <button name="form-submit" type="submit">Sign Up</button>
      </form>
    </section>
  </body>
</html>
